{% extends 'HopitalBundle:Default:base.html.twig' %}
{% block corps %}
<h2>Les patients</h2>
<table>
	<tr><th>Nom</th><th>Prénom</th><th>Date de naissance</th><th>Service :</th><th>Chambre :</th><th>Lit :</th></tr>
	{% for patient in lesPatients %}
	<tr>
		<td>{{patient.getNom()}}</td>
		<td>{{patient.getPrenom()}}</td>
		<td>{{patient.getDateNaissance()|date("d-m-Y")}}</td>
		<td>{{patient.getLeService().getLibelle()}}</td>
		<td>{{patient.getChambre().getLibelle()}}</td>
		<td>{{patient.getLit().getLibelle()}}</td>
		<td><a href="{{path('hopital_modifierPatient',{id:patient.getId()})}}">Modifier</a></td>	
	</tr>
	{% else %}
	<tr><td>Pas de patient trouvé</td></tr>
	{% endfor %}
</table>
{% endblock %}